/*
  Z-IINDEX SPECIFICATION
  |- Dropdown                     = [bk 10, dd 11]
  |- Navbar, sticky, {any}:sticky = [20]
  |- fixed, {any}:fixed           = [30]
  |- Offcanvas                    = [40]
  |- Modal                        = [50]
  |- Popup                        = [60]
  |- Tooltop                      = [70]
  |- Notification                 = [80]
*/

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;